<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <img routerLink="/" height="40px" style="padding-top: 20px;" src="../../assets/paralelo-white.png" alt="register">
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li>
          <a routerLink="/register" *ngIf="!isLoggedIn">Register</a>
        </li>
        <li>
          <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
        </li>
        <li>
          <a routerLink="/profile" *ngIf="isLoggedIn">Profile</a>
        </li>
        <li>
          <a routerLink="/game" *ngIf="isLoggedIn">Play</a>
        </li>
        <li>
          <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>