<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap>
    <mat-card-title >Join a Game Room</mat-card-title>
    <mat-card-subtitle>Have a room ID? Join a private game and play with your friends.</mat-card-subtitle>
    <form class="join-id" div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Game ID</mat-label>
          <input matInput placeholder="Ex. 12345">
        </mat-form-field>
        <button mat-raised-button mat-button color="primary">Join</button>
    </form>
    <mat-card-subtitle>Dont have an ID? No problem, join a public game. </mat-card-subtitle>
    <button mat-raised-button mat-button color="primary">Join</button>
</mat-card>
</div>

<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
<mat-card fxLayout="column" fxLayoutAlign="center">
    <mat-card-title>Create a Game Room</mat-card-title>
    <button mat-raised-button mat-button color="primary" style="margin-top: 10px">Create</button>
</mat-card>
</div>