.mat-card{
    margin: 20px;
    padding: 50px 50px;
    text-align: center;
}

.mat-card-subtitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: normal;
}

.mat-card-title {
    margin: 20px auto 0 auto;
}

.mat-button {
    margin: auto;
    width: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mat-form-field {
    padding: 0 10px;
    margin:auto;
    width: 150px;
    text-align: center;
}