<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="px-logo" fxLayoutAlign="center center" >
        <img height="100px" style="padding-top: 80px; padding-bottom: 20px;" src="../../assets/login.png" alt="login">
      </div>
  
      <div class="authBlock" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <input type="email" matInput placeholder="Your email" #userEmail ngModel email name="email" required>
        </mat-form-field>
        
        <mat-form-field>
          <input type="password" matInput placeholder="Your password" #userPassword ngModel name="password" required>
        </mat-form-field>
  
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <button mat-raised-button (click)="login(userEmail.value, userPassword.value)" >Log In</button>
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
  
        <div class="redirectToLogin">
          <span>Don't have an account?<span class="redirect" routerLink="/register"> Sign Up</span></span>
        </div>
      </div>
  
      
  
    </div>
  </div>