<div class="home-back">
<mat-card fxLayout="row" fxLayoutAlign="center">
    <mat-card-content style="text-align: center">
      <mat-card-title >Visual storytelling card game</mat-card-title>
      <mat-card-subtitle>Give the perfect clue so most (not all) players guess the right surreal image card.</mat-card-subtitle>
      <button routerLink="/game" mat-raised-button color="primary">Play Now</button>
      <div>
        <h1 style="text-align: center;"><strong><br><br><br>Game Rules</strong></h1>
<h2 style="text-align: center;">Setup (3 to 4 players)</h2>
<h2 style="text-align: justify;"><strong>Gameplay</strong></h2>
<h3 style="text-align: justify;"><strong>1-The Storyteller</strong></h3>
<p style="text-align: justify;">One of the players becomes the storyteller for the turn. The storyteller announces a theme inspired by one of the image cards in their hand and places that card facedown on the table without revealing it to the other players.</p>
<h4 style="text-align: justify;">Note: The Theme:</h4>
<ul>
    <li>
        <h4 style="text-align: justify;"></h4>
        <h3 style="text-align: justify;"></h3>
        <h4 style="text-align: justify;">can take many forms: a single word, a saying, a sentence or even a sound</h4>
    </li>
    <li style="text-align: justify;">may be made up on the spot or..</li>
    <li style="text-align: justify;">may be a quote, a line from a movie, or a song, poem or book title, etc.</li>
</ul>
<h4 style="text-align: justify;">Note:</h4>
<p style="text-align: justify;">By default, the first player to identify a suitable theme for one of their cards will be the storyteller for the first turn.&nbsp;</p>
<h3 style="text-align: justify;"><strong>2-Choosing a Card for the Storyteller </strong></h3>
<p style="text-align: justify;">Each of the other players selects the image card in their hand that they feel best illustrates the theme.</p>
<p style="text-align: justify;">Each player places his card facedown on top of the storyteller&rsquo;s card without showing it to the others, forming a pile. The storyteller shuffles the collected cards together with their own card, and places them faceup on the table in a random order.</p>
<h3 style="text-align: justify;"><strong>&nbsp;3-Finding the Storyteller&rsquo;s Image (Voting)</strong></h3>
<p style="text-align: justify;">&nbsp;The goal for the other players is to find the storyteller&rsquo;s image among the displayed ones. Each player secretly makes their choice, and then the storyteller counts aloud to three. On the count of three, the players simultaneously point to the card they believe to be the storyteller&rsquo;s. The storyteller then reveals which image was theirs.</p>
<p style="text-align: justify;"><span style="color: rgb(184, 49, 47);">Important: You are not allowed to vote for your own image!</span></p>
<h3 style="text-align: justify;"><strong>4-Scoring</strong></h3>
<ul>
    <li>
        <h3 style="text-align: justify;">If ALL players voted for the storyteller&rsquo;s image or if NONE of the players voted for it, the storyteller does not score any points and all the other players score 2 points.</h3>
    </li>
    <li style="text-align: justify;">In all other cases, the storyteller and the players that correctly voted for their image each score 3 points.</li>
    <li style="text-align: justify;"><strong>Bonus Point:</strong> Each player (except the storyteller) scores 1 extra point for each vote garnered by their image (because another player voted for their card)</li>
</ul>
<h3 style="text-align: justify;"><strong>5-End of Turn</strong></h3>
<p style="text-align: justify;">Record the scores on a piece of paper. Shuffle all cards not already in the players&rsquo; hands. Each player then draws one card to bring their hand up to six cards.</p>
<p style="text-align: justify;">The player to the left of the storyteller becomes the storyteller for the new turn. (The storyteller role moves clockwise at the start of each turn.</p>
<h2 style="text-align: justify;"><strong>End of the Game</strong></h2>
<p style="text-align: justify;">The game ends when at least a player scored &gt;=15 points. </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>